  <div class="row div-comment">
    <%= gravatar_for comment.user, size: Settings.size_avatar %>
    <strong>
      <i>
        <%= comment.user.name %>
        <%= t "comment.say" %>
      </i>
    </strong>
    <div class="col-md-offset-1">
      <%= comment.content %>
    </div>
  </div>
