<% provide :title, t("views.reviews.review") %>
<div class="div-margin-top">
  <%= link_to t("views.reviews.back"),
    book_path(@book), class: "btn btn-lg btn-custom" %>
</div>
<%= render "review_rate_form",button_name: t("views.reviews.create_review") %>
