<% provide :title, t("views.categories.title") %>
<% provide :button_text, t("views.categories.update_button") %>

<h1><%= t "views.categories.update_category" %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render "form" %>
  </div>
</div>
