<% if @book_marked && @book_marked.mark_type.present? %>
  <p class="marked">
    <%= t "views.book_mark.marked" %>
    <%= @book_marked.mark_type %>
  </p>
  <%= link_to t("views.book_mark.change"),
    edit_book_book_mark_path(@book, @book_marked), remote: true,
    class: "edit-mark" %>
  <div id="edit-mark"></div>
<% else %>
  <%= render "book_marks/mark_form" %>
<% end %>
