<h2><%= t "views.categories.title_page" %></h2>
<ul class="list-group">
  <% @categories.each do |category| %>
    <li class="list-group-item">
      <span class="tag pull-right">
      </span>
      <%= link_to category.category_name, category_path(category) %>
    </li>
  <% end %>
</ul>
