<% provide :title, t("views.categories.title_page") %>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render "categories/category_form" %>
    </div>
  </div>
  <div class="col-md-offset-4">
  </div>
</div>
